<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <div class="row">
            <div class="column" >
            </div>
           <div>
            <div style="text-align:center">
              <h2 style="color: #3cb371;">Contact me</h2>
              <p style="color: #3cb371;"> leave me a message:</p>
            </div>
              <div class="column" style="padding-right: 50px;">
                <form action="/action_page.php">
                  <label for="fname">First Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="Your name..">
                  <label for="lname">Last Name</label>
                  <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                  <label for="country">Country</label>
                  <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                  </select>
                  <label for="subject">Subject</label>
                  <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                </form>
                  <a href="Index.html"><button onclick="">Submit</button></a>
              </div>
            </div>
          </div>
          
           <br>
           <br>
    </div>
    <div class="list-group shadow">
        <a href="https://www.linkedin.com/in/tinotenda10" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/linkedin.jpg" alt="logo" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">LinkedIn</h3>
        </a>

        <a href="https://github.com/Ciscotheguy" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/github.png" alt="logo" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">Github</h3>
        </a>
    </div>
</div>